.product-list-title {
  color: white;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color: grey;
  border-top-right-radius: 8px;
  overflow: auto;
  max-height: 65vh;
}

@media screen and (max-height: 550px) and (orientation: landscape) {
  .product-list {
    max-height: 100vh;
  }
}

.product-wrapper {
  width: 26%;
  margin: 2% 0;
  box-shadow: 0 0 10px black;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .product-wrapper {
    width: 38%;
    margin: 2% 2%;
  }
}